:root{
    --backcolor : rgba(172, 171, 171, 0.2);
}

@font-face{
    font-family: 'norsebold';
    src: url(fonts/Norse-Bold.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'dmsans';
    src: url(fonts/DMSans-VariableFont_opsz\,wght.ttf) format('opentype');
}

#content{
    background-color: var(--backcolor);
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    display: flex;
}

.picSide{
    width: 35%;
    background-image: url(pic/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
} 

.logo{
    position: relative;
    top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%; 
    max-height: 200px;
}

.logo p {
    font-family: 'norsebold', sans-serif;
    color: aliceblue;
    font-size: 7rem;
}

.logo img{
    height: auto;
    width: 25%;
    max-height: 170px;
    max-width: 135px;
    min-height: 85px;
    min-width: 64px;
}

.formSide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
}

.titleBox, .createBox, .formBox{
    padding: 2%;
    padding-right: 15%;
    position: relative;
}

.form{
    display: flex;
}

ul{
    padding-left: 0;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
}

.formBox{
    background-color: white;
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0 5px 5px 4px rgba(0, 0, 0, 0.1);
}

input{
    width: 200px;
    height: 22px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

input:valid{
    border: 1px solid #E5E7EB;
}
input:focus{
    border: 1px solid blue;
    box-shadow: 0.125em 0.125em 0.5em -0.25em blue;
    outline: none;
}
input:invalid:not(:focus):not(:placeholder-shown) {
    border: 1px solid #ee2828;
}
.invalid-input{
    border: 1px solid red;
}

.createBox{
    display: flex;
    flex-direction: column;
}

button{
    background-color: #596D48;
    color: white;
    font-family: 'dmsans', sans-serif;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    max-width: 164px;
    max-height: 37px;
    margin-bottom: 10px;
    margin-top: 10px;
}

button:hover {background-color: #516341}

button:active {
  background-color: #516341;
  box-shadow: 0 2px rgba(0, 0, 0, 0.1);
  transform: translateY(1px);
}

label{
    display: block;
    font-family: 'dmsans', sans-serif;
    font-size: smaller;
    margin-bottom: 5px;
    margin-top: 10px;
}

p, p1{
    font-family: 'dmsans', sans-serif;
}

p{
    font-size: large;
}

p2{
    font-size: smaller;
    color: red;;
}

p1 > a{
    font-style: 'dmsans', sans-serif;
    color: #516341;
}

#photo-by{
    width: 100%;
    position: fixed;
    bottom: 0;
    font-size: 0.75em;
    margin-bottom: 0.5em;
    color: white;
}

#photo-by > a {
    color: white;
}
